
:root {
  --c-brand: #5046E4;
  --c-brand-dark: #483fcd;
  --c-brand-light: 6259e7;
}

html.dark {
  --c-brand: #5046E4;
  --c-brand-dark: #483fcd;
  --c-brand-light: 6259e7;
}

.no-sidebar {
  --content-width: 100%;
 }

@import "../public/css/main";


body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.05em;
}

